<!-- <div class="container-fluid min-vh-100 bg m-0"> -->
<!-- <div class="row m-auto">
</div> -->
<!-- <div class="col-md-12 p-0"> -->
<!-- <h2 class="d-flex justify-content-center mb-4 fw-semibold bg-white py-3">Dark<div class="mountain-color fs-2">Mountain</div>
  </h2> -->
<!-- </div> -->
<div class="container-fluid min-vh-100 bg m-0 my-container position-relative">
  <h2 class="head mt-0 mb-4 text-center fw-bold">Please Choose Your Subscription Plan</h2>
  <button class="btn-position" title="Logout" (click)="Logout()">
    <i class="fa-solid fa-power-off"></i>
  </button>
  <div class="sub-container">
    <div
      *ngIf="allData?.length != 0"
      class="d-flex align-items-center justify-content-center flex-wrap w-100"
    >
      <div
        *ngFor="let data of allData; let i = index"
        class="col-3 col-sm-3 col-md-3 col-lg-2 myCard"
      >
        <!-- <div class="col-md-3 mb-3"></div> -->
        <div class="card h-100 m-2 p-2 hover-effect">
          <div class="card-body text-start d-flex flex-column justify-content-between">
            <img src="" alt="" />

            <h4>{{ data.plan_name }}</h4>

            <p class="m-0 gst-sizing">
              <i> {{ data.type }} pack </i>
            </p>
            <!-- <div class="position-absolute bottom-0 start-0 end-0"> -->
            <div
              class="d-flex justify-content-center align-items-start flex-column mt-3"
            >
              <p class="price m-0 fw-bolder fs-2">₹{{ data.amount }}</p>
              <p class="m-0 mt-1 ms-2">
                <s>₹{{ data.maximum }}</s>
              </p>
            </div>

            <div class="text-center mt-3 w-100">
              <button
                class="pd-1 fw-bold btn btn-primary w-100"
                (click)="getSubscription(data._id, data.type)"
              >
                Subscribe
              </button>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->
