<!-- <div class="container"> -->
<div class="row m-auto">
    <div class="col-md-12">
        <h2 class="head mb-3 ms-2">Choose Your Plan </h2>
    </div>
</div>
<div class="container">
    <div class="row b-5">

        <div *ngIf="allData?.length !=0" class="d-flex align-items-center justify-content-start flex-wrap">

                <div *ngFor="let data of allData; let  i= index" class="col-3">
                    <!-- <div class="col-md-3 mb-3"></div> -->
                    <div class="card h-100 m-2 p-2 hover-effect">
                            <div class="card-body text-center d-flex flex-column h-100">

                                <h3>{{data.plan_name}}</h3>
                                <p class="m-0">
                                    <s>₹{{data.maximum}}</s>
                                </p>

                                <p class="price m-0 fw-bolder fs-5">₹{{data.amount}}</p>
                                <p class="m-0 gst-sizing">
                                    <span>
                                        {{data.type}}
                                    </span>

                                </p>

                                <div class="text-center mt-3">
                                    <button class="px-4 btn btn-primary" (click)="getSubscription(data._id)">
                                        Subscribe
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


<!-- </div> -->
