<section class="content">
  <div class="row ">
    <div class="col-12">
      <h2 class="mb-3">Subscription Plans</h2>
      <div class="card pt-2">
        <div class="col"></div>
        <div class="col" >
          <button type="button" class="btn btn-primary add-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Add New Plan</button>
        </div>
        <div class="card-body pt-3">
          
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                  <th>Plan Name</th>
                  <th>Type</th>
                  <th>Min</th>
                  <th>Max</th>
                  <th>Amount</th>
                  <th># of Subscribers</th>
                  <th>Action</th>
              
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Silver</td>
                  <td>Monthly</td>
                  <td>6</td>
                  <td>12</td>
                  <td>599.99</td>
                  <td>3</td>
                 
                  <td><button 
                    title="View"
                    type="button" 
                    class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#exampleModalCenter"
                  ><i class="fa-regular fa-eye"></i></button>
                  <button 
                    type="button" 
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                </tr>
                <tr>
                  <td>Gold</td>
                  <td>Yearly</td>
                  <td>6</td>
                  <td>12</td>
                  <td>125</td>
                  <td>5</td>
                  <td><button 
                    title="View"
                    type="button" 
                    class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#exampleModalCenter"
                  ><i class="fa-regular fa-eye"></i></button>
                  <button 
                    type="button" 
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                  
                </tr>
                
                
              </tbody>
              </table>
              
            
          </div>
        </div>
      </div>
    </div>
    </section>
  
   
    
    
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Configure Subscription Plan</h5>
        
      </div>
      <div class="modal-body">
        <div class="row ">
          
            
            <form [formGroup]="addPriceingForm" class="form-inline" role="form">
           
                <div class="row mb-2">
      
                  <div class="col-md-6 form-group">
                    <label class="">Plan Name</label>
                    <input type="text" placeholder="Plan Name" formControlName="planName" class="form-control">
                  </div>
                  <div class="col-md-6 form-group">
                    <label class="">Amount</label>
                    <input type="text" placeholder="Amount" formControlName="amount" class="form-control">
                  </div>
                  
                  
                </div>
                <div class="row mb-2">
      
      
      
                  <div class="col-md-6 form-group">
                    <label class="">Mininmum</label>
                    <input type="text"  formControlName="min"placeholder="Minimum" class="form-control">
                  </div>
      
      
      
                  <div class="col-md-6 form-group">
                    <label class="">Maximum</label>
                    <input type="text" formControlName="max"placeholder="Maximum" class="form-control">
                  </div>
      
                </div>
                <div class="row mb-2">
      
                  <div class="col-md-6 form-group">
                    <label class="" for="inputState">Type</label>
                    <select class="form-select" formControlName="type" aria-label="Default select example">
                      <option>Monthly</option>
                      <option>Yearly</option>
      
                    </select>
                  </div>
                  <div class="col-md-6 form-group country-col">
                    <label class="" for="inputState">Country</label>
                    <select class="form-select" formControlName="country" aria-label="Default select example">
                      <option>India</option>
                      <option>America</option>
                      <option>Japan</option>
                      <option>China</option>
                    </select>
                  </div>
      
      
                 
      
      
                </div>
            
            </form>
       
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="setPrice()">Save&nbsp;<i class="fa-sharp fa-regular fa-floppy-disk"></i></button>
      </div>
    </div>
  </div>
</div>