<section class="content ps-2">
  <div class="row">

    <div class="col-12">
 <div class="col head-div">
      <h5 class="mb-3 fw-bold">Subscription Plans</h5>

 <button
          type="button"
          class="btn btn-primary add-btn pd-1 other-btn fw-bolder"
          data-bs-toggle="modal"
          data-bs-target="#exampleModalCenter"
        >
          Add New Plan
        </button>

      </div>


      <div class="card pt-0">


        <div class="card-body pt-0 mt-n4">
          <table
            *ngIf="showContent"
            datatable="ng"
            datatable
            [dtOptions]="dtOptions"
            class="row-border hover"
          >
            <thead>
              <tr>
                <th>Plan Name</th>
                <th>Type</th>
                <th>Min</th>
                <th>Max</th>
                <th>Amount</th>
                <th># of Subscribers</th>
                <th style="min-width: 155px;">Action</th>

              </tr>
            </thead>
            <tbody *ngIf="allData?.length !=0">
              <tr *ngFor="let data of allData; let  i= index">
                <td>{{data.plan_name}}</td>
                <td>{{data.type}}</td>
                <td>{{data.minimum}}</td>
                <td>{{data.maximum}}</td>
                <td>{{data.amount}}</td>
                <td>3</td>

                <td>
                  <button type="button" class="btn btn-danger edit" title="Edit"><i
                    class="fa-regular fa-pen-to-square mt-2"></i></button>
                  <button title="View" type="button" class="btn btn-primary ms-3 pd-1 view-btn fw-bolder" (click)="openModal(data._id)"
                    data-bs-toggle="modal" data-bs-target="#exampleModalCenter">View Details</button>
                </td>
              </tr>




            </tbody>
            <!-- removed the below code for getting normal error in table or you can add number of td equal to th -->
                <!-- <tbody *ngIf="this.allData?.length == 0">
                  <tr>
                    <td colspan="8" class="no-data-available text-center" >No data available in table</td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                  </tr>
                </tbody> -->
          </table>


        </div>
      </div>
    </div>
  </div>
</section>

<!-- Button trigger modal -->






<!-- Modal -->
<div class="modal fade modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="exampleModalLongTitle">
          Configure Subscription Plan
        </h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <form  class="form-inline" role="form" [formGroup]="addPriceingForm">
            <div class="row mb-2">
              <div class="col-md-4 form-group">
                <label class="mb-2">Plan Name<sup>*</sup></label>
                <input
                  type="text"
                  placeholder="Plan Name"
                  formControlName="plan_name"
                  class="form-control"
                  [value]="plan_name"
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="mb-2">Amount<sup>*</sup></label>
                <input
                  type="text"
                  placeholder="Amount"
                  formControlName="amount"
                  class="form-control"
                  [value]="amount"
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="mb-2">Mininmum<sup>*</sup></label>
                <input
                  type="text"
                  formControlName="minimum"
                  placeholder="Minimum"
                  class="form-control"
                  [value]="minimum"
                />
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-4 form-group">
                <label class="mb-2">Maximum<sup>*</sup></label>
                <input
                  type="text"
                  formControlName="maximum"
                  placeholder="Maximum"
                  class="form-control"
                  [value]="maximum"
                />
              </div>

              <div class="col-md-4 form-group">
                <label class="mb-2" for="inputState">Type<sup>*</sup></label>
                <select
                  class="form-select"
                  formControlName="type"
                  aria-label="Default select example"
                  [value]="type"
                >
                  <option [defaultSelected]=true selected=true disabled=true>{{defaultType}}</option>
                  <option>Monthly</option>
                  <option>Yearly</option>
                </select>
              </div>
              <div class="col-md-4 form-group country-col">
                <label class="mb-2" for="inputState">Country<sup>*</sup></label>
                <select
                  class="form-select"
                  formControlName="country"
                  aria-label="Default select example"
                  [value]="country"
                >
                  <option [defaultSelected]=true selected=true disabled=true>{{defaultType}}</option>
                  <option>India</option>
                  <option>America</option>
                  <option>Japan</option>
                  <option>China</option>
                </select>
              </div>
            </div>
            <!-- <div class="modal-footer">
             <button id="launch_ad" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close</button>




                  <button type="button" class="btn btn-primary btn-save" (click)="setPrice()">Save&nbsp;<i
                      class="fa-sharp fa-regular fa-floppy-disk"></i></button>

            </div> -->
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button  id="launch_ad" type="button" class="btn btn-secondary cancel-btn fw-bold pd-1 " data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-save pd-1 fw-bold other-btn "
          (click)="setPrice()"
        >
          Save&nbsp;<i class="fa-sharp fa-regular fa-floppy-disk ms-2"></i>
        </button>
      </div>
    </div>
