.add-btn{
    float: right;
    margin-right: 1rem;
    margin-top: 1rem
}
.btn i{
    font-size: 1.3rem;

     position: relative; 
     top: 1px;
    text-align: center;
    line-height: 1
}
select.fade {
    display: block;
    opacity: 0;
    pointer-events: none;
 }
 
 .show > select.fade {
    pointer-events: auto;
    opacity: 1;
 }