<section class="content">
    <div class="row mt-4">
      <h3>Subscription Plans</h3>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
           
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                  <th>Plan Name</th>
                  <th>Type</th>
                  <th>Min</th>
                  <th>Max</th>
                  <th>Amount</th>
                  <th># of Subscribers</th>
                  <th>Action</th>
              
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Silver</td>
                  <td>Monthly</td>
                  <td>6</td>
                  <td>12</td>
                  <td>599.99</td>
                  <td>3</td>
                  <td><a href="/#/manage-subscription"><button 
                    
                    type="button" 
                    class="btn btn-primary"
                  >View</button></a>
                  <button 
                    type="button" 
                    class="btn btn-danger"
                  
                  >Edit</button></td>
                
                  
                </tr>
                <tr>
                  <td>Gold</td>
                  <td>Yearly</td>
                  <td>6</td>
                  <td>12</td>
                  <td>125</td>
                  <td>5</td>
                  <td><a href="/#/manage-subscription"><button 
                    
                    type="button" 
                    class="btn btn-primary"
                  >View</button></a>
                  <button 
                    type="button" 
                    class="btn btn-danger"
                  
                  >Edit</button></td>
                  
                </tr>
                
                
              </tbody>
              </table>
              
            
          </div>
        </div>
      </div>
    </div>
    </section>
  