.color {
    color: #00d957;
  }
  
  .rotate svg {
    transform: rotate(45deg);
  }
  
  .myclass div {
    display: flex !important;
    background-color: aqua;
  }
  .mtop{
    margin-top:1.7rem
  }
  .image{
    height: 66px !important;
  }
  .my{
    cursor: pointer;
  }
  .ml-a{
    margin-left: 75px;
  }
  .ml-b{
    margin-left:98px
  }
  .ml-c{
    margin-left: 35px;
  }
  .min-height{
    min-height: 127px;
  }
  .modal-header{
    border-bottom: none !important;
    color: #043049 !important;
  }
  .color{
    color: #043049 !important;
  }
  .color1 {
    color: #00d957;
  }