.color {
    color: #00d957;
  }
  
  .rotate svg {
    transform: rotate(45deg);
  }
  
  .myclass div {
    display: flex !important;
    background-color: aqua;
  }
  .mtop{
    margin-top:1.7rem
  }
  .image{
    height: 66px !important;
  }
  .my{
    cursor: pointer;
  }
  .ml-a{
    margin-left: 60px;
  }
  .ml-b{
    margin-left:83px
  }
  .ml-c{
    margin-left: 20px;
  }
  .min-height{
    min-height: 127px;
  }