.color {
    color: #00d957;
  }

  .rotate svg {
    transform: rotate(45deg);
  }

  .myclass div {
    display: flex !important;
    // background-color: aqua;
  }
  .mtop{
    margin-top:1.7rem
  }
  .image{
    height: 60px !important;
    opacity: 0.4;
    // position: absolute;
    // right: 5%;
    // top: 31%;
  }
  .my{
    cursor: pointer;
  }
  .ml-a{
    margin-left: 75px;
  }
  .ml-b{
    margin-left:98px
  }
  .ml-c{
    margin-left: 35px;
  }
  .min-height{
    min-height: 127px;
  }
  .modal-header{
    // border-bottom: none !important;
    color: #043049 !important;
  }
  .color{
    color: #043049 !important;
  }
  .color1 {
    color: #00d957;
  }
  .pass-small{
    // margin-left: 12rem;
    margin-right: 2.7rem;
  }
  .title-pos {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(0,0,0,.1);
  }

  .min-h {
    height: 145px;
    cursor: pointer;
  }
  .div-height {
    height: 75px;
  }
.font-size {
  font-size: 15px !important;
}
.font-color {
  color: #043049 !important;
}
.my-w-50 {
  width: 45% !important;
}
