<section class="content">
    <div class="container">
      <h5 class=" mb-3 fw-bold">X-ray Evaluation Result</h5>
      <p>*Legal Disclaimer : This is a dummy tools modal by AI. This does not give you hundred percent accurate result.</p>
        <div class="row">
            <div class="col-12">
                <div class="col-md-6 left-img ">
                  <!-- <img [src]="renderImage(this.xRayData[0]?.xray_image.path)" alt="" class="w-100" >
                    <label class="text-center w-100 mt-3 fw-bold">Original X-ray</label>--> 
                    <div id="label-studio1"></div>
                    <label class="text-center w-100 mt-3 fw-bold mark-label1">Original X-ray</label>
                </div>
                <div class="col-md-6 right-img">
                   <!--
                    <img  [src]="renderImage(this.xRayData[0]?.xray_image.path)" alt="" class="w-100 ms-2"
                    (click)="addMarker($event)" >
                    <div class="ms-2 markDiv">
                    <div *ngFor="let marker of marker" class="marker" [style.left.px]="marker.x" [style.top.px]="marker.y">  
                </div>
            </div>-->
            <div id="label-studio"></div>

             <label class="text-center w-100 mt-3 fw-bold mark-label">Marked Cavities</label>
             <button type="button" class="btn fw-bold del-btn" (click)="delete()">Delete Mark</button>
                </div>
               
            </div>
        </div>
        <div class="row fw-semibold" id="cavity">
          <h5 class="fw-semibold">{{this.totalAI}} Cavities detected by AI Model</h5>
        </div>
            <div class="row mt-5">
                <div class="col mt-2 fw-semibold">
                    <span><i class="fa-solid fa-circle dentist-i"></i> Dentist Marking</span><br>
                    <span><i class="fa-solid fa-circle ai-i"></i> AI Marking</span><br>
               </div>
                <div class="col-md-4 btn-div ">


                        <button type="button" class="btn btn-primary save-btn pd-1 fw-bold other-btn"   (click)="saveMarks()">Submit for Review&nbsp;<i class="fa-sharp fa-regular fa-floppy-disk ms-1"></i></button>


                        <button type="button" class="btn btn-primary save-btn me-2 cancel-btn fw-bold other-btn pd-1" (click)="handleClick()">Close</button>

                </div>
            </div>
        </div>
</section>
<!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">


        </div>
        <div class="modal-body">
            <div class="row ">
                <div class="row mb-2 mt-4">

                    <div class="col-md-12 form-group d-flex align-items-center">
                      <label class="label1 me-4">Accuracy</label>
                      <div class="w-100 position-relative">
                        <input #myinput type="range" min="0" value="0" max="100" (input)="onRangeChange($event)"/>
                          <span class="inputValue fw-semibold p-1 fs-6 text-center"  [ngStyle]="{'left': leftPos}">
                          {{valInput}}%-->
                          <!-- <span class="smallTrianlge"></span> -->
                       <!-- </span>
                      </div>
                    </div>
                </div>
                <div class="row my-3">

                    <div class="col-md-12 form-group d-flex align-items-center justify-content-between">
                      <label class="label2 mb-3">Tag</label>
                      <input type="text" class="form-control tag-input">
                    </div>
                </div>

             </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-secondary cancel-btn other-btn pd-1 fw-bold me-2" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary other-btn pd-1 fw-bold " (click)="saveMarks()">Save&nbsp;<i class="fa-sharp fa-regular fa-floppy-disk"></i></button>
        </div>
      </div>
    </div>
  </div>-->

