// .login-card{
//   width: 50% !important;
//   flex: none !important;
// }
// .btn{
//   min-width:-moz-available;
//   min-width: -webkit-fill-available;
//   min-width: fill-available;
// }


// @media (min-width:420px)and (max-width:767px){

//    .login-card{
//       width: 80% !important;
//    }
// }

// .signup {
// color: #00d957 !important;
// }
// .bg{
// background-color: #45454523;
// }
// .mountain-color {
// color: #00d957;
// font-size: 2rem !important;
// }
// .icon-position {
//   position: absolute !important;
//   // right: 24px;
//   top: 0px !important;
//   bottom: 0px !important;
//   // color: grey;
// }
