<div class="container-fluid login-register">
  <div class="logo"><img src="../../../../assets/images/logo.png" /></div>
  <div class="row justify-content-center bg my-container min-vh-100 d-flex flex-row align-items-center">
    <div class="col-md-6 min-vh-100 d-flex flex-row align-items-center">
      <c-card-group class="col-12 d-flex justify-content-center card-group">
        <c-card class="w-100 mx-2 wp-card card">
          <c-card-body class="card-body">
            
            <form cForm>
            
              <h2 class="d-flex justify-content-center mb-0 fw-semibold">
                New Password? 
              </h2>
              <p class="text-center heading-sub mb-4 pb-2">Create new password</p>
              <c-input-group class="mb-3 input-group">
                <label class="form-label">Password</label>
                <div class="d-flex position-relative w-100">
                  <span cInputGroupText class="rounded-0 rounded-start icon-position input-group-text">
                    <svg font-Size="20px" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"></path><path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path></svg>
                  </span>
                  <input
                    autoComplete="username"
                    cFormControl
                    placeholder="Enter Password"
                    formControlName="email"
                    type="email"
                    class="form-control rounded ps-5 w-100"
                  />
                </div>

                

                



              </c-input-group>
              <c-input-group class="mb-4 input-group">
                <label class="form-label">Confirm Password</label>
                <div class="d-flex position-relative w-100">
                  <span cInputGroupText class="rounded-0 rounded-start icon-position input-group-text">
                    <svg font-Size="20px" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"></path><path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    formControlName="password"
                    class="form-control rounded ps-5 w-100"
                    placeholder="Enter Confirm Password"
                    type="password"
                  />
                </div>
              </c-input-group>





              
              <c-row>
                <c-col>
                  <app-button
                    cButton
                    class="btn btn-primary btn-block mb-4 p-2 fw-bold"
                    color="primary"
                    [type]="'submit'"
                    loading="isAuthLoading"
                  >
                  Reset Password <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M12 3c-4.625 0-8.442 3.507-8.941 8.001H10v-3l5 4-5 4v-3H3.06C3.56 17.494 7.376 21 12 21c4.963 0 9-4.037 9-9s-4.037-9-9-9z"></path></svg>
                  </app-button>
                </c-col>
              </c-row>
              <!-- <c-row>
                <c-col class="text-center"
                  >Not a Member?
                  <a href="/#/register-form" class="signup fw-semibold"
                    >SignUp</a
                  >
                </c-col>
              </c-row> -->
              <!-- <c-row>
                <c-col class="justify-content-center mx-5" >
                  <button cButton class="px-0" color="link">
                    Forgot password?
                  </button>
                </c-col>
              </c-row>-->
            </form>

            
          </c-card-body>
        </c-card>

      </c-card-group>
    </div>
    <div class="col-md-6 min-vh-100 d-flex flex-row align-items-center right-sec">
      <div class="col-12 d-flex justify-content-center card-group">
        <div class="w-100 mx-2 wp-card card">
          <p class="sub sub-title">DIAGNOCAT AI</p>
          <h2 class="title">Dentist's virtual 
            assistant in 
            treatment planning</h2>
            <p class="des">Diagnocat AI elevates the trust between the 
              patient and the dental professionals while it 
              helps to motivate the patients to adopt the 
              treatment plan presented.</p>

              <c-row>
                <c-col >
                  <a href="https://qasolutionsbpo.com/demo/4edentalai/" target="_blank" cButton class="btn btn-primary mb-4 p-2 fw-bold" color="primary">
                    Book a Demo <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M12 3c-4.625 0-8.442 3.507-8.941 8.001H10v-3l5 4-5 4v-3H3.06C3.56 17.494 7.376 21 12 21c4.963 0 9-4.037 9-9s-4.037-9-9-9z"></path></svg>
                  </a>

                </c-col>
              </c-row>

            </div>
      </div>
    </div>
    
  </div>

</div>

              

