<div class="container p-0">
  <h2 class="well mb-4">Registration Form</h2>
  <div class="card card-primary">
    <div class="card-body p-4">
      <div class="row">
        <form action="" class="form-inline" #register_form="ngForm" (submit)="handleForm(register_form.value)">
          <div class="row mb-3 mt-2">
            <div class="col-md-4 form-group">
              <label class="mb-2">First Name<sup>*</sup></label>
              <input
                type="text"
                class="form-control me-4"
                placeholder="First Name"
                name="firstName"
                ngModel
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-2">Last Name<sup>*</sup></label>
              <input type="text" class="form-control" placeholder="Last Name" name="lastName"
              ngModel/>
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-2">Email ID<sup>*</sup></label>
              <input
                type="email"
                class="form-control me-4"
                placeholder="Email ID"
                name="email"
                ngModel
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4 form-group">
              <label class="mb-2">Contact Number<sup>*</sup></label>
              <input
                type="number"
                class="form-control"
                placeholder="Contact Number"
                name="number"
                ngModel
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-2">Address 1<sup>*</sup></label>
              <input
                type="text"
                class="form-control me-4"
                placeholder="Address 1"
                name="address1"
                ngModel
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-2">Address 2</label>
              <input type="text" class="form-control" placeholder="Address 2" name="address2"
              ngModel/>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4 form-group">
              <label class="mb-2">City<sup>*</sup></label>
              <input type="text" class="form-control me-4" placeholder="City" name="city"
              ngModel/>
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-2">State<sup>*</sup></label>
              <input type="text" class="form-control" placeholder="State" name="state"
              ngModel/>
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-2">Zip<sup>*</sup></label>
              <input
                type="number"
                class="form-control me-5"
                placeholder="Zip"
                name="zip"
                ngModel
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4 form-group">
              <label class="mb-2">Country<sup>*</sup></label>
              <select
                class="form-select me-4"
                aria-label="Default select example"
                name="country"
                placeholder="Country"
                ngModel
                [(ngModel)]="countryList"
              >
                <!-- can use ngFor instead of hardcoded value -->
                <!-- <option *ngFor="let country of countryList" [ngValue]="country" [selected]="country">{{country}}</option> -->
                <option [defaultSelected]=true selected=true disabled=true>{{countryList}}</option>
                <option>India</option>
                <option>America</option>
                <option>Japan</option>
                <option>China</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-2">Subscription Amount<sup>*</sup></label>
              <input
                type="number"
                class="form-control me-5"
                placeholder="Amount"
                name="amount"
                ngModel
              />
            </div>
            <div class="col-md-4 btn-div">
              <button class="btn btn-primary register-btn ms-2 mt-4 cancel-btn p-1" title="Cancel">
                Cancel
              </button>
              <button
                class="btn btn-primary register-btn ms-2 mt-4 p-1"
                title="Register"
              >
                Register
                <i class="fa-solid fa-address-card ms-1"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
