<section class="content ps-2">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-n5 fw-bold">Registered Dentists</h5>
        <div class="table-responsive resposive-table" style="position: relative;">
        <div class="card pt-0 table-card">


          <div class="card-body pt-0" style="overflow-x: auto;">
            <table datatable *ngIf="showContent" datatable="ng" id="datatable" class="row-border hover"
            [dtOptions]="dtOptions"
            >
              <thead>
                <tr>
                  <th>Dentist&nbsp;Name</th>
                  <th>Age</th>
                  <th>City</th>
                  <th>Phone</th>
                  <th>Subscription&nbsp;End&nbsp;Date</th>
                  <th style="min-width: 157px;">Action</th>
                  <th>Uploaded&nbsp;X-Ray</th>
                  <th>Marked</th>
                </tr>
              </thead>
              <tbody  *ngIf="allData?.length != 0">
                <tr *ngFor="let user of allData; let i = index">
                  <td>{{user.first_name | titlecase}} {{user.last_name | titlecase}}</td>
                  <td>30</td>
                  <td>{{user.city | titlecase}}</td>
                  <td>{{user.contact_number}}</td>
                  <td style="padding-left: 5.25%;">{{user.subscription_details.end_date | date : 'dd/MM/yyyy'}}</td>
                  <td>
                    <!-- <div class="d-flex align-items-center"> -->
                      <!-- <button
                        type="button"
                        class="btn btn-danger edit"
                        title="Edit"
                        [routerLink]="'/dentist-profile/'+user._id"
                      ><i class="fa-regular fa-pen-to-square mt-2"></i></button> -->
                      <button
                        title="View"
                        type="button"
                        class="btn btn-primary pd-1 view-btn fw-bolder"
                        [routerLink]="'/dentist-profile/'+user._id"
                      >Edit</button>
                    <!-- </div> -->
                  </td>
                  <td>12</td>
                  <td>5</td>
                </tr>
               <!-- <tr>

                </tr>-->

              </tbody>
                <tbody *ngIf="this.allData?.length == 0">
                  <tr>
                    <td colspan="8" class="no-data-available text-center" >No data available in table</td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>

    </section>
