// .btn{
//     color: white;
// }

// tr .btn{
    // height: 28px;
    // width: 28px;
// }
.btn i{
    font-size: 16px;

     position: relative;
     top: -3px;
    text-align: center;
    line-height: 1
}

* {
  color: #043049;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff!important;
}
a.current{
  color: #fff!important;
}
