<section class="content">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-3">Registered Dentists</h2>
        <div class="card pt-2">
         
          <div class="card-body pt-3">
           
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                  <th>Dentist Name</th>
                  <th>Age</th>
                  <th>City</th>
                  <th>Contact Number</th>
                  <th>X-Ray Uploaded</th>
                  <th>View Details</th>
                  <th>Uploaded X-Ray</th>
                  <th>Marked</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Giacomo Guilizzani</td>
                  <td>35</td>
                  <td>Edison</td>
                  <td>1234567890</td>
                  <td>02/11/2022</td>
                  <td><a href="/#/dentist-profile"><button 
                    title="View"
                    type="button" 
                    class="btn btn-primary"
                  ><i class="fa-regular fa-eye"></i></button></a>
                  <button 
                    type="button" 
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                  <td>12</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Giacomo Guilizzani</td>
                  <td>35</td>
                  <td>Edison</td>
                  <td>1234567890</td>
                  <td>02/11/2022</td>
                  <td><a href="/#/dentist-profile"><button 
                    title="View"
                    type="button" 
                    class="btn btn-primary"
                  ><i class="fa-regular fa-eye"></i></button></a>
                  <button 
                    type="button" 
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                  <td>12</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Giacomo Guilizzani</td>
                  <td>35</td>
                  <td>Edison</td>
                  <td>1234567890</td>
                  <td>02/11/2022</td>
                  <td><a href="/#/dentist-profile"><button 
                    title="View"
                    type="button" 
                    class="btn btn-primary"
                  ><i class="fa-regular fa-eye"></i></button></a>
                  <button 
                    type="button" 
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                  <td>12</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Giacomo Guilizzani</td>
                  <td>35</td>
                  <td>Edison</td>
                  <td>02/11/2022</td>
                  <td>1234567890</td>
                  <td><a href="/#/dentist-profile"><button 
                    title="View"
                    type="button" 
                    class="btn btn-primary"
                  ><i class="fa-regular fa-eye"></i></button></a>
                  <button 
                    type="button" 
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                  <td>12</td>
                  <td>3</td>
                </tr>
                
              </tbody>
              </table>
              
            
          </div>
        </div>
      </div>
    </div>
    </section>
