<div class="container-fluid bg my-container min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group class="d-flex justify-content-center">
          <c-card class="p-4 w-50 mx-5 login-card">
            <c-card-body>
              <form cForm [formGroup]="loginForm" (ngSubmit)="login()">
                <h2 class="d-flex justify-content-center mb-4 fw-semibold">Dark<div class="mountain-color">Mountain</div>
             </h2>
               <!-- <p class="text-medium-emphasis">Sign In to your account</p>-->
                <c-input-group class="mb-3 input-group">
                  <div class="d-flex position-relative w-100">
                    <span cInputGroupText class="rounded-0 rounded-start icon-position">
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input autoComplete="username" cFormControl placeholder="Email ID/Username"
                    formControlName="email"
                    type="email"
                    class="form-control rounded ps-5 w-100"
                    />
                  </div>
                </c-input-group>
                <c-input-group class="mb-4">
                  <div class="d-flex position-relative w-100">
                    <span cInputGroupText class="rounded-0 rounded-start icon-position">
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      autoComplete="current-password"
                      formControlName="password"
                      class="form-control rounded ps-5 w-100"
                      placeholder="Password"
                      type="password"
                    />
                  </div>
                </c-input-group>
                 <c-row>
                  <c-col >
                    <app-button cButton class="btn btn-primary btn-block mb-4 p-2 fw-bold" color="primary" [type]="'submit'" (click)="login()"
                    loading="isAuthLoading" (window:keypress)="onSomeAction($event)">
                      Login
                    </app-button>

                  </c-col>
                </c-row>
                <c-row>
                  <c-col class="text-center">Not a Member?
                   <a routerLink="/register" class="signup fw-semibold">Sign Up</a>

                  </c-col>
                </c-row>
                <c-row>
                  <c-col class="text-center mt-1">
                   <a routerLink="/forgot-password" class="signup fw-semibold">Forgot Password?</a>
                  </c-col>
                </c-row>
               <!-- <c-row>
                  <c-col class="justify-content-center mx-5" >
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>-->
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
