// .login-register .wp-card{  width: 50% !important;    flex: none !important;}
// .login-register .card{ border: none; box-shadow:none !important;}
// .login-register .heading-sub{font-size: 16px;}
// .login-register ::placeholder {  color: #212121 !important;  font-size: 15px;}
// .login-register .text-right{text-align: right;}
// .login-register .input-group-text {  background: transparent;  margin: 7px auto;  border: none;  border-right: 1px solid #d9d9d9;  padding: 0px 8px;  text-align: center !important;}
// .input-group-text svg{}

// .btn{    min-width:-moz-available;min-width: -webkit-fill-available;min-width: fill-available;}


// @media (min-width:320px)and (max-width:990px){
//   .login-register .wp-card{
//         width: 90% !important;
//         padding: 13px !important;
//      }
// }

// .login-register .signup {  color: #00d957 !important;}
// .login-register .bg{  background-color: #ffffff;}
// .login-register .mountain-color {  color: #00d957;  font-size: inherit !important;}

