.form-group label{
    position: absolute;
}
.form-group input,select{
    float: right;
    width: 64%;
}

.save-btn{
    float: right;
}
.btn-div{
    margin-left: -3rem;
}
.btn-cancel{
    margin-top: -2%;
   // margin-left: 2.9rem;
   width: max-content;
}
.card{
    width: 73rem;
}