<div class="container">
    <h2 class="well">Dentist Profile</h2>
	
	<div class="row">

        
        <form class="form-inline" role="form">	
					
						<div class="row mb-2">
                            
							<div class="col-md-4 form-group">
								<label class="float-left">First Name</label>
								<input type="text" placeholder="Enter First Name Here.." class="form-control">
							</div>
							<div class="col-md-4 form-group">
								<label class="float-left">Last Name</label>
								<input type="text" placeholder="Enter Last Name Here.." class="form-control">
							</div>
						</div>	
                        <div class="row mb-2">
							<div class="col-md-4 form-group">
								<label class="float-left">Email ID</label>
								<input type="text" placeholder="Email ID" class="form-control">
							</div>
							<div class="col-md-4 form-group">
								<label class="float-left">Contact Number</label>
								<input type="text" placeholder="Contact Number" class="form-control">
							</div>
						</div>	
                        <div class="row mb-2">
							<div class="col-md-4 form-group">
								<label class="float-left">ddress1</label>
								<input type="text" placeholder="Enter First Name Here.." class="form-control">
							</div>
							<div class="col-md-4 form-group">
								<label class="float-left">Address2</label>
								<input type="text" placeholder="Enter Last Name Here.." class="form-control">
							</div>
						</div>	
                        <div class="row mb-2">
							<div class="col-md-2 form-group">
								<label class="float-left">City</label>
								<input type="text" placeholder="Enter First Name Here.." class="form-control city-input w-75">
							</div>
							<div class="col-md-2 form-group state-div me-4">
								<label class="float-left">State</label>
								<input type="text" placeholder="Enter Last Name Here.." class="form-control state-input  w-75">
							</div>
                            <div class="col-md-2 form-group ms-5">
								<label class="float-left">Zip</label>
								<input type="text" placeholder="Enter First Name Here.." class="form-control zip-input w-75">
							</div>
						</div>	
                        <div class="row mb-2">
							<div class="col-md-4 form-group">
								<label class="float-left" for="inputState">Country</label>
								<select id="inputState" class="form-control ">
                                    <option selected>India</option>
                                    <option>America</option>
                                    <option>Japan</option>
                                    <option>China</option>
                                  </select>
							</div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-info save-btn">Save</button>
                            </div>
                        </div>				
						
										
				
				</form> 
				</div>
	</div>
    <div class="container border-top border-secondary mt-3">
        <div class="row mt-2">
            <h5>Subscription Details</h5>
            <div class="row">
                <div class="col">
                    Current Plan : 20 Days
                </div>
                <div class="col">
                    Subscription End Date : 20/2/2023
                </div>
                <div class="col">
                   Subscription Amount : $9.99
                </div>
                <div class="col">
                    
                  <div class="col px-2 me-2 btn">
                      <button type="button" class="btn btn-secondary save-btn" >Cancel Subscription</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
 <div class="container border-top border-secondary mt-5">
    <div class="row mt-2">
        <h5>Uploaded X-ray</h5>
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
             
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">X-ray Uploaded Date</th>
                        <th scope="col">View X-ray</th>
                        <th scope="col">Marked</th>
                    
                      </tr>
                 
                  </thead>
                  <tbody>
                    <tr>
                      <td>15/03/2022</td>
                      <td><a href=""><button 
                    
                        type="button" 
                        class="btn btn-primary"
                      >View X-ray</button></a>
                     </td>
                      <td> <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                       
                    </div></td>
                      
                    </tr>
                    <tr>
                        <td>15/03/2022</td>
                        <td><a href=""><button 
                    
                          type="button" 
                          class="btn btn-primary"
                        >View X-ray</button></a>
                       </td>
                        <td> <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                         
                      </div></td>
                        
                    </tr>
                    
                    
                  </tbody>
                </table>
                
              
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
