<div class="container">
  <h2 class="well">Dentist Profile</h2>

  <div class="row">
    <div class="card card-primary">

      <form class="form-inline" role="form">
        <div class="card-body">
          <div class="row mb-2 mt-2">

            <div class="col-md-4 form-group">
              <label class="float-left">First Name</label>
              <input type="text" placeholder="First Name" class="form-control me-4">
            </div>
            <div class="col-md-4 form-group">
              <label class="float-left">Last Name</label>
              <input type="text" placeholder="Last Name" class="form-control">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 form-group">
              <label class="float-left">Email ID</label>
              <input type="text" placeholder="Email ID" class="form-control me-4">
            </div>
            <div class="col-md-4 form-group">
              <label class="float-left">Contact Number</label>
              <input type="text" placeholder="Contact Number" class="form-control">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 form-group">
              <label class="float-left">Address1</label>
              <input type="text" placeholder="Address1" class="form-control me-4">
            </div>
            <div class="col-md-4 form-group">
              <label class="float-left">Address2</label>
              <input type="text" placeholder="Address2" class="form-control">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 form-group">
              <label class="float-left">City</label>
              <input type="text" placeholder="City" class="form-control me-4">
            </div>
            <div class="col-md-4 form-group">
              <label class="float-left">State</label>
              <input type="text" placeholder="State" class="form-control">
            </div>
            <div class="col-md-4 form-group">
              <label class="float-left ms-3 mt-1">Zip</label>
              <input type="text" placeholder="Zip" class="form-control me-5">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 form-group">
              <label class="float-left" for="inputState">Country</label>
              <select id="inputState" class="form-control me-4">
                <option selected>India</option>
                <option>America</option>
                <option>Japan</option>
                <option>China</option>
              </select>
            </div>
            <div class="col-md-8 btn-div">
              <button type="button" class="btn btn-primary save-btn ms-2 mt-2">Save</button>
              <button type="button" class="btn btn-primary save-btn mt-2">Reset</button>
            </div>
          </div>

       



      <div class="container border-top border-secondary mt-3">
        <div class="row mt-2">
          <h5>Subscription Details</h5>
          <div class="row mt-2">
            <div class="col-sm-3">
              Current Plan : 200 Days
            </div>
            <div class="col-sm-3 me-5 ">
              Subscription End Date : 20/2/2023
            </div>
            <div class="col-sm-3 ms-3">
              Subscription Amount : $9.99
            </div>
            <div class="col-sm-2 ">

              <div class="col px-2 btn-cancel">
                <button type="button" class="btn btn-danger">Cancel Subscription</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
    </div>
  </div>

  <div class="container  mt-3">
    <div class="row mt-4">
      <h5>Uploaded X-ray</h5>
      <div class="row mt-3 me-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">X-ray Uploaded Date</th>
                    <th scope="col">View X-ray</th>
                    <th scope="col">Marked</th>

                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <td>15/03/2022</td>
                    <td><a href=""><button type="button" class="btn btn-primary">View X-ray</button></a>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-1" checked />

                      </div>
                    </td>

                  </tr>
                  <tr>
                    <td>15/03/2022</td>
                    <td><a href=""><button type="button" class="btn btn-primary">View X-ray</button></a>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-1" checked />

                      </div>
                    </td>

                  </tr>


                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>