// .form-group input,select{

//     width: 90%;
// }

.form label {
  position: relative;
}

sup {
  position: relative;
  top: -2px;
  color: red;
  font-weight: 800;
  font-size: 14px;
}

.save-btn {
  background-color: #17a2b8;
}
.save-btn:hover {
  background-color: #138091;
}
.btn-div{
// margin-left: -2.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.btn-cancel {
  margin-top: -5%;
  margin-left: 2.9rem;
  width: max-content;
}
.adminbtn-cancel{
  margin-top: -3%;
  margin-left: 2.9rem;
  width: max-content;
  float:right;
}
.card {
  width: 100%;
}
// .xray-table-container {
  // position: relative;
  // right: 2%;
// }
th {
  font-weight: 700;
}
h5 {
  font-weight: 700;
}
.sub-row {
  margin-left: -1.5rem;
}
// .xray-row {
  // margin-left: -0.1rem;
// }

tbody tr td {
  vertical-align: middle;
}
// i {
//   position: relative;
//   top: 1px;
// }

.cancel-btn {
  background-color: var(--bs-gray) !important;
}

.cancel-btn:hover {
  background-color: var(--bs-gray-700) !important;
}

* {
  color: #043049;
}

i {
  color: #fff !important;
}
.button-div{
  left: 65%;
    top: 9%;
    margin-top: 31px;
    position: relative;
    /* padding-bottom: 25px; */
    margin-bottom: 0px;
}
.back-btn {
  position: absolute;
  right: 0%;
  top: -10px;
}

@media (min-width: 410px) and (max-width : 820px){
    .button-div{
      left: 0 !important;
    }
    .other-btn{
      width: 133px !important;
    }
}
