<section class="content">
    <div class="container">
        <h5 class=" mb-3 fw-bold">X-ray Evaluation Result</h5>
        <p>*Legal Disclaimer : This is a dummy tools modal by AI. This does not give you hundred percent accurate
            result.</p>
            <div class="row">
                <div class="col-12">
                    <div class="col-md-6 left-img ">
                      <!-- <img [src]="renderImage(this.xRayData[0]?.xray_image.path)" alt="" class="w-100" >
                        <label class="text-center w-100 mt-3 fw-bold">Original X-ray</label>--> 
                        <div id="label-studio1"></div>
                        <label class="text-center w-100 mt-3 fw-bold mark-label1">Original X-ray</label>
                    </div>
                    <div class="col-md-6 right-img">
                       <!--
                        <img  [src]="renderImage(this.xRayData[0]?.xray_image.path)" alt="" class="w-100 ms-2"
                        (click)="addMarker($event)" >
                        <div class="ms-2 markDiv">
                        <div *ngFor="let marker of marker" class="marker" [style.left.px]="marker.x" [style.top.px]="marker.y">  
                    </div>
                </div>-->
                <div id="label-studio"></div>
    
                 <label class="text-center w-100 mt-3 fw-bold mark-label">Marked Cavities</label>
                
                    </div>
                   
                </div>
            </div>

        <div class="row mt-5">
            <div class="col mt-2 fw-semibold">
                <span><i class="fa-solid fa-circle dentist-i"></i> Dentist Marking</span><br>
                <span><i class="fa-solid fa-circle ai-i"></i> AI Marking</span><br>
            </div>
            <div class="col-md-4 btn-div ">




                <button type="button" class="btn btn-primary save-btn me-2 cancel-btn fw-bold other-btn pd-1"
                    (click)="handleClick()">Close</button>

            </div>
        </div>
    </div>
</section>