<section class="content">
    <div class="container">
        <h5 class=" mb-3 fw-bold">X-Ray Evaluation Result</h5>
        <p><span class="border-bottom border-dark">*Legal Disclaimer :</span> There is a direct correlation of diagnosis and X-Ray quality.
            This software is just an aid for the Dentists to help them identifies cavities easily.<br>It does not guarantee medical accuracy.</p>
            <div class="row">
                <div class="col-12">
                    <div class="col-md-6 left-img">
                      <!-- <img [src]="renderImage(this.xRayData[0]?.xray_image.path)" alt="" class="w-100" >
                        <label class="text-center w-100 mt-3 fw-bold">Original X-ray</label>-->
                        <div id="label-studio1"></div>
                        <label class="text-center w-100 mt-3 fw-bold mark-label1">Original X-Ray</label>
                    </div>
                    <div class="col-md-6 right-img">
                       <!--
                        <img  [src]="renderImage(this.xRayData[0]?.xray_image.path)" alt="" class="w-100 ms-2"
                        (click)="addMarker($event)" >
                        <div class="ms-2 markDiv">
                        <div *ngFor="let marker of marker" class="marker" [style.left.px]="marker.x" [style.top.px]="marker.y">
                    </div>
                </div>-->
                <div id="label-studio"></div>

                 <label class="text-center w-100 mt-3 fw-bold mark-label">Evaluated X-Ray</label>

                    </div>

                </div>
            </div>

        <div class="row ">
            <div class="col fw-semibold icon-div">
                <span><i class="fa-solid fa-circle dentist-i me-1"></i> Dentist Marking</span><br>
                <span><i class="fa-solid fa-circle ai-i me-1"></i> AI (Confirmed) Marking</span><br>
                <span><i class="fa-solid fa-circle aiprob-i me-1"></i> AI (Probable) Marking</span><br>
            </div>
            <div class="col-md-4 btn-div ">




                <button type="button" class="btn btn-primary save-btn mt-n5 me-2 cancel-btn fw-bold other-btn pd-1"
                    (click)="handleClick()">Close</button>

            </div>
        </div>
    </div>
</section>
