.login-card{
  width: 50% !important;
  flex: none !important;
}
.btn{
  min-width:-moz-available;
min-width: -webkit-fill-available;
min-width: fill-available;
}


@media (min-width:320px)and (max-width:990px){

   .login-card{
      width: 90% !important;
     padding: 13px !important;
   }
}

// .signup {
// color: #00d957 !important;
// }

// .mountain-color {
//   color: #00d957;
//   font-size: inherit !important;
// }

