<section class="content ps-2">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-3 fw-bold">Registered Dentists</h5>
        <div class="card pt-2">

          <div class="card-body pt-3">

            <table datatable *ngIf="showContent" datatable="ng" [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                  <th>Dentist Name</th>
                  <th>Age</th>
                  <th>City</th>
                  <th>Contact Number</th>
                  <th>X-Ray Uploaded</th>
                  <th>View Details</th>
                  <th>Uploaded X-Ray</th>
                  <th>Marked</th>
                </tr>
              </thead>
              <tbody  *ngIf="allData?.length != 0">
                <tr *ngFor="let user of allData; let i = index">
                  <td>{{user.first_name}} {{user.last_name}}</td>
                  <td>30</td>
                  <td>{{user.city}}</td>
                  <td>{{user.contact_number}}</td>
                  <td>02/11/2022</td>
                  <td>
                  <button
                    type="button"
                    class="btn btn-danger edit pt-1"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button>
                  <button
                    title="View"
                    type="button"
                    class="btn btn-primary ms-2"
                     [routerLink]="'/dashboard/dentist-profile/'+user._id"
                  >View Details</button>
                </td>
                  <td>12</td>
                  <td>5</td>
                </tr>
               <!-- <tr>
                  <td>Giacomo Guilizzani</td>
                  <td>35</td>
                  <td>Edison</td>
                  <td>1234567890</td>
                  <td>02/11/2022</td>
                  <td><a href="/#/dentist-profile"><button
                    title="View"
                    type="button"
                    class="btn btn-primary"
                  ><i class="fa-regular fa-eye"></i></button></a>
                  <button
                    type="button"
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                  <td>12</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Giacomo Guilizzani</td>
                  <td>35</td>
                  <td>Edison</td>
                  <td>1234567890</td>
                  <td>02/11/2022</td>
                  <td><a href="/#/dentist-profile"><button
                    title="View"
                    type="button"
                    class="btn btn-primary"
                  ><i class="fa-regular fa-eye"></i></button></a>
                  <button
                    type="button"
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                  <td>12</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Giacomo Guilizzani</td>
                  <td>35</td>
                  <td>Edison</td>
                  <td>1234567890</td>
                  <td>02/11/2022</td>
                  <td><a href="/#/dentist-profile"><button
                    title="View"
                    type="button"
                    class="btn btn-primary"
                  ><i class="fa-regular fa-eye"></i></button></a>
                  <button
                    type="button"
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                  <td>12</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Giacomo Guilizzani</td>
                  <td>35</td>
                  <td>Edison</td>

                  <td>1234567890</td>
                  <td>02/11/2022</td>
                  <td><a href="/#/dentist-profile"><button
                    title="View"
                    type="button"
                    class="btn btn-primary"
                  ><i class="fa-regular fa-eye"></i></button></a>
                  <button
                    type="button"
                    class="btn btn-danger ms-2"
                    title="Edit"
                  ><i class="fa-regular fa-pen-to-square"></i></button></td>
                  <td>12</td>
                  <td>3</td>
                </tr>-->

              </tbody>
              <tbody *ngIf="allData?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available" >No data!</td>
                </tr>
              </tbody>
              </table>


          </div>
        </div>
      </div>
    </div>
    </section>

