<!-- <section class="content">
  <div class="container">
    <h5 class=" mb-3 fw-bold">Upload X-Ray</h5>

    <div class="row">
      <div class="col-md-6">
    <div class="card card-primary">
      <div class="card-body p-4">


        <div class="row">



          <form [formGroup]="" class="form-inline" role="form">
            <div class="row mb-2 mt-2">
              <div class="col-md-12 form-group">
                <label class="mb-2">Choose File</label>&nbsp;


                <input type="file" class="file-upload mb-4 custom-file-input" (change)="uploadFile($event)" accept="image/*" multiple onclick="this.value = null"
                [ngStyle]="fileStyle"  >


              </div>
              <div class="col-md-12 mt-4 form-group">
                <button type="button" class="w-50 btn btn-primary save-btn me-2 fw-bold other-btn pd-1" (click)="evaluate()" [disabled]="hidden">Evaluate X-Ray</button>


              </div>
            </div>

          </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
      <div class="img-div ms-2"><img class="img-div w-100 h-100" [src]="url" *ngIf="url" >
        </div>
    </div>
    </div>
  </div>
</section> -->

<section class="content ps-2">
  <div class="row">
    <div class="col-12">
      <h5 class="mb-n5 fw-bold position-relative">
        Uploaded X-Rays
        <label
          for="inputFiles"
          class="inputFile btn btn-primary other-btn pd-1 fw-bold"
          >Upload X-Ray</label
        >
        <input
          type="file"
          id="inputFiles"
          name="inputFiles"
          class="file-upload custom-file-input fw-semibold inputFile d-none"
          (change)="uploadFile($event)"
          accept="image/*"
          multiple
          onclick="this.value = null"
          [ngStyle]="fileStyle"
        />
      </h5>
      <div class="table-responsive resposive-table" style="position: relative">
        <div class="card pt-0 table-card">
          <div class="card-body pt-0" style="overflow-x: auto">
            <table
              datatable
              *ngIf="showContent"
              datatable="ng"
              id="datatable"
              class="row-border hover"
              [dtOptions]="dtOptions"
            >
              <thead>
                <tr>
                  <th class="text-nowrap">File Name</th>
                  <th class="text-nowrap">Uploaded Date</th>
                  <th class="text-nowrap">Evaluated Date</th>
                  <!-- <th>Subscription&nbsp;End Date</th> -->

                  <!-- <th>Upload</th> -->
                  <th>Evaluation</th>
                 <th>Total Cavities Detected</th>
                </tr>
              </thead>
              <tbody *ngIf="allData?.length != 0 &&n==0">
                <tr *ngFor="let data of allData; let i = index">
                  <td>{{data?.xray_image?.path.split('/')[1]}}</td>
                  <td>{{data?.created_at | date : 'MM/dd/yyyy hh:mm a'}}</td>
                  <td>{{data?.updated_at | date : 'MM/dd/yyyy hh:mm a'}}</td>
                  <!-- <td>{{data.city | titlecase}}</td> -->
                  <!-- <td>{{data.contact_number}}</td> -->
                  <!-- <td>{{data.subscription_details.end_date | date : 'dd/MM/yyyy'}}</td> -->

                  <td>
                    <div *ngIf="data.evaluation_status==true">
                      <button
                      type="button"
                      class="btn btn-primary add-btn pd-1 other-btn fw-bolder"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModalCenter"
                      (click)="view(data._id)"
                    >
                      View
                    </button>
                  </div>
                  <div *ngIf="data.evaluation_status==false">
                    <button
                      type="button"
                      class="btn btn-primary save-btn fw-bold other-btn pd-1 text-nowrap"
                      (click)="evaluate(data._id)"
                      [disabled]="false"
                    >
                      Resume Evaluation
                    </button>
                  </div>
                  </td>
                  <td>{{data.totalCavitiesDetectedByUser}}</td>
                  <!-- <td>
                  <button type="button" class="btn btn-primary save-btn fw-bold other-btn pd-1" (click)="evaluate()" [disabled]="hidden">Evaluate X-Ray</button>
                </td> -->
                  <!-- <td>85%</td> -->
                </tr>
                <!-- <tr>

              </tr>-->
              </tbody>
              <tbody *ngIf="this.allData?.length == 0 && n==0">
                <tr>
                  <td colspan="8" class="no-data-available text-center">
                    No data
                  </td>
                  <td colspan="0" class="no-data-available p-0"></td>
                  <td colspan="0" class="no-data-available p-0"></td>
                  <td colspan="0" class="no-data-available p-0"></td>
                  <td colspan="0" class="no-data-available p-0"></td>
                  <!-- <td colspan="0" class="no-data-available p-0" ></td> -->
                </tr>
              </tbody>
              <tbody *ngIf="user_eval?.length != 0 && n==1">
                <tr *ngFor="let data of this.user_eval; let i = index">
                  <td>{{data?.xray_image?.path.split('/')[1]}}</td>
                  <td>{{data.created_at | date : 'MM/dd/yyyy hh:mm a'}}</td>
                  <td>{{data?.updated_at | date : 'MM/dd/yyyy hh:mm a'}}</td>
                  <!-- <td>{{data.city | titlecase}}</td> -->
                  <!-- <td>{{data.contact_number}}</td> -->
                  <!-- <td>{{data.subscription_details.end_date | date : 'dd/MM/yyyy'}}</td> -->

                  <td>
                    <div *ngIf="data.evaluation_status==true">
                      <button
                      type="button"
                      class="btn btn-primary add-btn pd-1 other-btn fw-bolder"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModalCenter"
                      (click)="view(data._id)"
                    >
                      View
                    </button>
                  </div>
                  <div *ngIf="data.evaluation_status==false">
                    <button
                      type="button"
                      class="btn btn-primary save-btn fw-bold other-btn pd-1 text-nowrap"
                      (click)="evaluate(data._id)"
                      [disabled]="false"
                    >
                      Evaluate X-Ray
                    </button>
                  </div>
                  </td>
                  <td>{{data.totalCavitiesDetectedByUser}}</td>
                  <!-- <td>
                  <button type="button" class="btn btn-primary save-btn fw-bold other-btn pd-1" (click)="evaluate()" [disabled]="hidden">Evaluate X-Ray</button>
                </td> -->
                  <!-- <td>85%</td> -->
                </tr>
                <!-- <tr>

              </tr>-->
              </tbody>
              <tbody *ngIf="this.user_eval?.length == 0 && n==1">
                <tr>
                  <td colspan="8" class="no-data-available text-center">
                    No data
                  </td>
                  <td colspan="0" class="no-data-available p-0"></td>
                  <td colspan="0" class="no-data-available p-0"></td>
                  <td colspan="0" class="no-data-available p-0"></td>
                  <td colspan="0" class="no-data-available p-0"></td>
                  <!-- <td colspan="0" class="no-data-available p-0" ></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop" *ngIf="display">
    <div class="modal-dialog modal-dialog-centered modal-lg sub-backdrop-container" role="document">
      <div class="modal-content">
        <div class="modal-header backdrop-header">
          <h5 class="m-0 modal-title fw-bold">
            View Uploaded Image
          </h5>
          <i
            class="fa-solid fa-xmark fs-5"
            style="cursor: pointer;"
            (click)="backdropModal()"
            title="Close"
          ></i>
        </div>
        <div class="modal-body backdrop-body">
          <!-- <img [src]="renderImage(this.uploadedXray)" alt="" class="w-100" > -->
          <img src={{url}} alt="" class="img-fluid" >
        </div>
        <div class="modal-footer backdrop-footer">
          <label for="inputFiles" class="btn btn-primary other-btn pd-1 fw-bold re-upload-xray"
            >Re-Upload X-Ray</label
          >
          <!-- <button type="button" class="btn btn-save pd-1 fw-bold other-btn ms-3" (click)="handleSave()">
            Save&nbsp;<i class="fa-sharp fa-regular fa-floppy-disk ms-2"></i>
          </button> -->
          <button type="button" class="btn btn-save pd-1 fw-bold other-btn ms-3" (click)="saveNdEval()">
            Evaluate
          </button>
          <button type="button" class="btn btn-save pd-1 cancel-btn fw-bold other-btn ms-3" (click)="backdropModal()">
            Discard
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="backdrop" *ngIf="display">
    <div class="sub-backdrop-container w-100 container-fluid">
      <div class="backdrop-header w-100 d-flex justify-content-between align-items-center">
        <h4 class="fw-bold m-0">
          View Uploaded Image
        </h4>
        <i
          class="fa-solid fa-xmark fs-5"
          style="cursor: pointer;"
          (click)="backdropModal()"
          title="Close"
        ></i>
      </div>
      <div class="backdrop-body col-12">
        <img src={{url}} alt="" class="img-fluid" >
      </div>
      <div class="backdrop-footer w-100 d-flex justify-content-end">
        <label for="inputFiles" class="btn btn-primary other-btn pd-1 fw-bold re-upload-xray"
          >Re-Upload X-Ray</label
        >
        <button type="button" class="btn btn-save pd-1 fw-bold other-btn ms-3" (click)="handleSave()">
          Save&nbsp;<i class="fa-sharp fa-regular fa-floppy-disk ms-2"></i>
        </button>
      </div>
    </div>
  </div> -->
</section>

<!-- <div class="backdrop" [ngStyle]="{ 'display': display }"></div>
  <div
    class="modal fade modal-lg"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
    [ngStyle]="{'display':display}"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="exampleModalLongTitle">
            View Uploaded Image
          </h5>
        </div>
        <div class="modal-body">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body forzIndex">
              <img
                src="../../../../assets/images/xray.jpg"
                alt=""
                width="100%"
              />
              <div class="mt-4">
                <span class="fw-bold me-4">Re-upload:</span>
                <label for="inputFiles1" class="btn btn-primary other-btn pd-1 fw-bold" style="z-index: 100;">Re-Upload</label>
                <input type="file" id="inputFiles1" name="inputFiles1" class="file-upload custom-file-input fw-semibold inputFile" (change)="uploadFile($event)" accept="image/*" multiple onclick="this.value = null" [ngStyle]="fileStyle" style="z-index: 100;">
                <input type="file">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <label for="inputFiles" class="btn btn-primary other-btn pd-1 fw-bold"
            >Re-Upload</label
          >
          <button  id="launch_ad" type="button" class="btn btn-secondary cancel-btn fw-bold pd-1 " data-bs-dismiss="modal">
          Close
        </button>
          <button type="button" class="btn btn-save pd-1 fw-bold other-btn">
            Save&nbsp;<i class="fa-sharp fa-regular fa-floppy-disk ms-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div> -->
