<section class="content">
    <div class="container">
        <h4 class="well">X-ray Evaluation Result</h4>

        <div class="row">
            <div class="col-12">
                <div class="col-md-6 left-img ">
                    <img src="../../../../assets/images/xray.jpg" alt="" class="w-100" >
                    <label class="text-center w-100 mt-2">Dental X-ray</label>
                </div>
                <div class="col-md-6 right-img">
                    <img src="../../../../assets/images/xray1.jpg" alt="" class="w-100"
                        class="ms-2">
                        <label class="text-center w-100 mt-2">Admin Marking</label>
                </div>
            </div>
        </div>
            <div class="row mt-5">
                <div class="col mt-2"><span><i class="fa-solid fa-circle admin-i"></i> Admin Marking</span><br>
                    <span><i class="fa-solid fa-circle dentist-i"></i> Dentist Marking</span><br>
                    <span><i class="fa-solid fa-circle ai-i"></i> AI Marking</span><br>
                </div>
                <div class="col-md-4 btn-div">


                        <button type="button" class="btn btn-primary save-btn pd-1 fw-bold other-btn ms-2"   data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Save Result&nbsp;<i class="fa-sharp fa-regular fa-floppy-disk ms-1"></i></button>


                        <button type="button" class="btn btn-primary save-btn me-2 cancel-btn fw-bold other-btn pd-1">Reevaluate</button>

                </div>
            </div>
        </div>
</section>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">


        </div>
        <div class="modal-body">
            <div class="row ">
                <div class="row mb-2">

                    <div class="col-md-12 form-group">
                      <label class="label1 me-2">Accuracy</label>
                      <mat-slider min="1" max="100" step="1" discrete>
                        <input matSliderThumb ngModel name="slider" class="slider" />
                      </mat-slider>
                    </div>
                </div>
                <div class="row mb-2">

                    <div class="col-md-6 form-group">
                      <label class="label2">Tag</label>
                      <input type="text" class="form-control tag-input">
                    </div>
                </div>

              <!--  <span> Accuracy    &nbsp;<input type="range" min="0" max="100" value="50" style="width:50%;margin-left:0.5rem"></span>
        <br><span class="mt-2">Tag  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="text" class="form-control" style="width:40%;margin-left:0.5rem"></span>
              --> </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel-btn other-btn pd-1 fw-bold me-2" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary other-btn pd-1 fw-bold ms-2">Save&nbsp;<i class="fa-sharp fa-regular fa-floppy-disk"></i></button>
        </div>
      </div>
    </div>
  </div>
