.left-img{
    float: left;
}

.right-img{
    float: right;
}
.admin-i{
    color: rgb(91, 91, 159);
}
.dentist-i{
    color: rgb(69, 159, 109);
}
.ai-i{
    color: rgb(189, 66, 66);
}
.btn{
    float: right;
    top: 22%;
    position: relative;
}
label{
    font-weight: 500;
}
img{
    height: 22.125rem;
}
.btn-div{
    margin-right: 1rem !important;
    margin-top: 1.3rem !important;
}
.range-input{
    // top: 10%;
    margin-left: 1rem;
    width: 151%;
    margin-right: -38rem;
    margin-top: 0.5rem;
    position: relative;
    height: 7px;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;
    // background-color: grey;
    background-color: #02d959;
}
.range-input::-webkit-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    // z-index: 3;
    // position: relative;
    -webkit-appearance: none;
    background-color: #02d959;
}
.label1{
    font-size: 18px;
}
.label2{
    float: left;
    position: relative;
    top: 22%;
    margin-left: 2rem;
    font-size: 18px;
}
.tag-input{
    width: 151%;
    /* float: right; */
    /* margin-right: 40.5rem; */
    margin-left: 5.5rem;
    position: relative;
    top: -21%;
}

input[type='range'] {
  overflow: hidden;
  width: 151%;
  -webkit-appearance: none;
  background-color: grey;
}

input[type='range']::-webkit-slider-runnable-track {
  // height: 10px;
  // height: 5px;
  -webkit-appearance: none;
  color: #02d959;
  background-color: grey;
  // margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 16px;
  -webkit-appearance: none;
  height: 16px;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -200px 0 0 200px #02d959;
  z-index: 100;
}
