<section class="content">
    <div class="container">
        <h4 class="well">X-ray Evaluation Result</h4>

        <div class="row">
            <div class="col-12">
                <div class="col-md-6 left-img ">
                    <img src="../../../../assets/images/xray.jpg" alt="" class="w-100" >
                    <label class="text-center w-100 mt-2">Dental X-ray</label>
                </div>
                <div class="col-md-6 right-img">
                    <img src="../../../../assets/images/xray1.jpg" alt="" class="w-100" 
                        class="ms-2">
                        <label class="text-center w-100 mt-2">Admin Marking</label>
                </div>
            </div>
        </div>
            <div class="row mt-5">
                <div class="col"><span><i class="fa-solid fa-circle admin-i"></i> Admin Marking</span><br>
                    <span><i class="fa-solid fa-circle dentist-i"></i> Dentist Marking</span><br>
                    <span><i class="fa-solid fa-circle ai-i"></i> AI Marking</span><br>
                </div>
                <div class="col-sm-4">
                    
                    <div class="col px-2 me-2 btn">
                        <button type="button" class="btn btn-primary save-btn" (click)="save()">Save Result</button>
                    </div>
                    <div class="col px-2 btn">
                        <button type="button" class="btn btn-primary save-btn">Reevaluate</button>
                    </div>
                </div>
            </div>
        </div>
</section>