<section class="content ps-2">
  <div class="row">
    <div class="col-12">
      <h5 class=" mb-3 fw-bold">Uploaded X-Rays</h5>
      <div class="card pt-0">
        <div class="table-responsive">
        <div class="card-body pt-0 mt-n4">
          <table datatable *ngIf="showContent" datatable="ng"  class="row-border hover" [dtOptions]="dtOptions">
                <thead>
                  <tr>
                    <th>Dentist Name</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Contact Number</th>
                    <th>X-Ray Uploaded</th>
                    <th style="min-width: 155px;">Action</th>
                    <th>Uploaded X-Ray</th>
                    <th>Marked</th>
                  </tr>
                </thead>
                <tbody  *ngIf="allData?.length != 0">
                  <tr *ngFor="let data of this.allData; let i = index">
                    <td>{{data.user_id.first_name}} {{data.user_id.last_name}}</td>
                    <td>35</td>
                    <td>{{data.user_id.city}}</td>
                    <td>{{data.user_id.contact_number}}</td>
                    <td>{{data.created_at | date : 'dd/MM/yyyy'}}</td>

                    <td><button
                      type="button"
                      class="btn btn-danger edit"
                      title="Edit"
                    ><i class="fa-regular fa-pen-to-square mt-2"></i></button>
                   <button
                      title="View"
                      type="button"
                      class="btn btn-primary ms-3 pd-1 view-btn fw-bolder"
                      [routerLink]="'/mark-xray/'+data._id"
                    >View Details</button></td>
                    <td>12</td>
                    <td>3</td>
                  </tr>


                </tbody>
                <tbody *ngIf="this.allData?.length == 0">
                  <tr>
                    <td colspan="8" class="no-data-available text-center" >No data available in table</td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

