<section class="content ps-2">
  <div class="row">
    <div class="col-12">
      <h5 class="mb-n5 fw-bold">Uploaded X-Rays</h5>
        <div class="table-responsive resposive-table" style="position: relative;">
        <div class="card pt-0 table-card">


              <div class="card-body pt-0" style="overflow-x: auto;">
          <table datatable *ngIf="showContent" datatable="ng"  class="row-border hover" [dtOptions]="dtOptions">
                <thead>
                  <tr>
                    <th>Dentist&nbsp;Name</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th>Subscription&nbsp;End&nbsp;Date</th>
                    <th style="min-width: 157px;">Action</th>
                    <th>Uploaded&nbsp;X-Ray</th>
                    <th>Marked</th>
                  </tr>
                </thead>
                <tbody  *ngIf="allData?.length != 0">
                  <tr *ngFor="let data of this.allData; let i = index">
                    <td>{{data.user_id.first_name | titlecase}} {{data.user_id.last_name | titlecase}}</td>
                    <td>35</td>
                    <td>{{data.user_id.city | titlecase}}</td>
                    <td>{{data.user_id.contact_number}}</td>
                    <td style="padding-left: 5.25%;">{{data.user_id.subscription_details.end_date | date : 'dd/MM/yyyy'}}</td>

                    <td>
                      <!-- <button
                      type="button"
                      class="btn btn-danger edit"
                      title="Edit"
                    ><i class="fa-regular fa-pen-to-square mt-2"></i></button> -->
                   <button
                      title="View"
                      type="button"
                      class="btn btn-primary pd-1 view-btn fw-bolder"
                      [routerLink]="'/mark-xray/'+data._id"
                    >Edit</button></td>
                    <td>12</td>
                    <td>3</td>
                  </tr>


                </tbody>
                <tbody *ngIf="this.allData?.length == 0">
                  <tr>
                    <td colspan="8" class="no-data-available text-center" >No data available in table</td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                    <td colspan="0" class="no-data-available p-0" ></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

