.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}
.mountain-color {
  color: #00d957;
  font-size: 24px !important;
  position: relative;

}
.sidebar-brand {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  background-color: #043049;
  box-shadow: 0 0 22px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  padding-right: 0.6rem;
}
.sidebar-nav {
  background-color: #043049 !important;
  box-shadow: 0 0 22px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  color: #c2c7d0;
}
/*.sidebar-nav .nav-link :active{
  background-color: #00d957 !important;
}*/
.sidebar-header {
  background-color: #043049 !important;
  box-shadow: 0 0 22px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  color: #c2c7d0;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  text-align: unset;
  padding-left: 1rem;
  border-bottom: 1px solid gray;
}
.sidebar-header img {
  width: 16% !important;
}
.user-header {
  background-color: #043049;
  align-items: center !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-header img {
  /* border: 3px solid; */
  /* border-color: rgba(255, 255, 255, 0.2); */
  border-radius: 50%;
  width: 29% !important;
  /* box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%) !important; */
}
.dropdown-menu {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 270px !important;
  overflow: hidden;
}

.user-footer {
  margin: 18px auto 10px auto;
}
.breadcrumb a , .breadcrumb span{
  text-decoration: none !important;
    color: #043049;
    margin-top: -5px;
    top: 7px;
    right: -8px;
    position: relative;
    font-weight: 700;
    font-size: 16px !important;
}
.header {
  border-bottom: none !important;
  color: #043049;
  font-weight: 700;
  font-size: 18px !important;
}
/*.sidebar-nav .nav-item .active{
  font-weight: 600 !important;
  background-color: #02d959 !important;
}*/

.nav-item .active i {
  color: white !important;
}
.title{
  font-size: 10px;
}
.icon-color {
  color: #043049 !important;
}
.mountain-color {
  color: #00d957;
  font-size: 1.5rem !important;
}
.btn{
  color: white !important;
  background-color: #00d957 !important;
  border-color: #00d957 !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
