/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";

// .btn{
//     color: white;
//     background-color: #17A2B8;
//     border-color: #17a2b8;
//     padding-left: 0.60rem !important;
//     padding-right: 0.60rem !important;
//     padding-top: 0.40rem !important;
//     padding-bottom: 0.40rem !important;
// }
// .btn:hover ,.btn:first-child:active ,:not(.btn-check) + .btn:active{
//     color: #fff;
//     background-color: #138496;
//     border-color: #117a8b;
// }
.btn {
  color: white !important;
  background-color: #02d959 !important;
  border-color: #02d959 !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.btn:hover {
  color: #fff !important;
  background-color: #02c24f !important;
  border-color: #02d959 !important;
}
.cancel-btn {
  background-color: var(--bs-gray) !important;
  border: var(--bs-gray) !important;
}
.cancel-btn:hover {
  background-color: var(--bs-gray-700) !important;
}
.card {
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
.header {
  background-color: #02d959;
}
label {
  font-weight: 700;
}
sup {
  position: relative;
  top: -2px;
  color: red;
  font-weight: 800;
  font-size: 14px;
}
body {
  font-style: normal;
  --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
table thead {
  // border-top: 1px solid black;
  // border-bottom: 1px solid black ;
  font-weight: 700;
}

.nav-icon {
  color: #02d959 !important;
}

// .nav-item:active{
//   background-color: #02d959;
// }

.nav-item .active {
  font-weight: 600 !important;
  background-color: #02d959 !important;
}

.nav-item .active i {
  color: white !important;
}

// input[type=checkbox]{
//   background-color: #02d959 !important;
// }

input:checked {
  background-color: #02d959 !important;
}

.swal2-actions button {
  background-color: #02d959 !important;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=checkbox]:focus, select:focus {
  box-shadow: 0px 0px 2px 4px #02d9583e !important;
  border: 1px solid #02d959 !important;
}

select option:checked {
  color: white;
  background-color: #02d959;
}
